
{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>LogIn Form</title>
    

</head>
<body>
    <fieldset>
        <h2>Login Form </h2>
        <table>
            <form>
                <div class="row mt-5 mx-auto border border-dark" style="width:700px">

    
                    <div class="mb-3 row mt-4">
                        <label for="1" class="col-sm-2 col-form-label">User Name</label>
                        <div class="col-auto mx-5">
                          <input type="text" name="uname" class="form-control" id="1">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="2" class="col-sm-2 col-form-label">Email ID</label>
                        <div class="col-auto mx-5">
                          <input type="email" name="uemail" class="form-control" id="2">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-auto mx-5">
                          <input type="password" name="upassword" class="form-control" id="3">
                        </div>
                      </div>
                      
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">LogIn</button>
                      </div>
                    </div>
            
            </form>
    </fieldset>
</body>
</html>
{% endblock 'main' %}